h1{
    margin: 0 0 20px 0;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
body div{
    margin: 20px;
}


form{
    width: 300px;
    margin-bottom: -10px;
}

form input,textarea{
    margin-bottom: 10px;
    width: calc(100% - 24px);
    display: block;
    outline: none;
}
.textInput{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    border: 2px solid #f8e9a1;
    border-radius: 5px;
    padding: 10px;
}
.fileInput{
    border: 2px solid rgba(255, 255, 255, 0);
}
.fileInput:hover{
    cursor: pointer;
}
form textarea{
    resize: vertical;
    min-height: 85px;
}

form input.error{
    border: 1px solid #f76c6c;
    background: #f76c6c13;
}